.p{
    &-1{padding: 10px}
    &-2{padding: 20px}
    &-3{padding: 30px}
    &-4{padding: 40px}
    &-5{padding: 50px}

    &t-1{padding-top: 10px}
    &t-2{padding-top: 20px}
    &t-3{padding-top: 30px}
    &t-4{padding-top: 40px}
    &t-5{padding-top: 50px}

    &b-1{padding-bottom: 10px}
    &b-2{padding-bottom: 20px}
    &b-3{padding-bottom: 30px}
    &b-4{padding-bottom: 40px}
    &b-5{padding-bottom: 50px}

    &l-1{padding-left: 10px}
    &l-2{padding-left: 20px}
    &l-3{padding-left: 30px}
    &l-4{padding-left: 40px}
    &l-5{padding-left: 50px}

    &r-1{padding-right: 50px}
    &r-2{padding-right: 50px}
    &r-3{padding-right: 50px}
    &r-4{padding-right: 50px}
    &r-5{padding-right: 50px}

    &r-1{padding-right: 50px}
    &r-2{padding-right: 50px}
    &r-3{padding-right: 50px}
    &r-4{padding-right: 50px}
    &r-5{padding-right: 50px}

    &x-1{padding-right: 10px; padding-left: 10px}
    &x-2{padding-right: 50px; padding-left: 20px}
    &x-3{padding-right: 50px; padding-left: 30px}
    &x-4{padding-right: 50px; padding-left: 40px}
    &x-5{padding-right: 50px; padding-left: 50px}
    &x-auto{padding-right: auto; padding-left: auto}
}

.m{
    &-1{margin: 10px}
    &-2{margin: 20px}
    &-3{margin: 30px}
    &-4{margin: 40px}
    &-5{margin: 50px}

    &t-1{margin-top: 10px}
    &t-2{margin-top: 20px}
    &t-3{margin-top: 30px}
    &t-4{margin-top: 40px}
    &t-5{margin-top: 50px}

    &b-1{margin-bottom: 10px}
    &b-2{margin-bottom: 20px}
    &b-3{margin-bottom: 30px}
    &b-4{margin-bottom: 40px}
    &b-5{margin-bottom: 50px}

    &l-1{margin-left: 10px}
    &l-2{margin-left: 20px}
    &l-3{margin-left: 30px}
    &l-4{margin-left: 40px}
    &l-5{margin-left: 50px}

    &x-1{margin-right: 10px; margin-left: 10px}
    &x-2{margin-right: 50px; margin-left: 20px}
    &x-3{margin-right: 50px; margin-left: 30px}
    &x-4{margin-right: 50px; margin-left: 40px}
    &x-5{margin-right: 50px; margin-left: 50px}
    &x-auto{margin-right: auto; margin-left: auto}
}

.small{
    color: rgb(32, 32, 32);
    font-size: .9rem;
    font-weight: 200;
}

.bold{
    color: $green;
    font-size: 1.6rem;
    letter-spacing: 4px;
    padding-left: 4px;
}

.active{
    font-weight: 700;
    text-decoration: underline;
}

.acorn{
    color: #F1B286 !important;
    font-weight: 700;
}

@media only screen and (max-width: 820px) {
    .bold {
        font-weight: 700;
        font-size: 2rem !important;
    }

}
